# display_name = Smaitic Labs
[sso-session smaitic]
sso_start_url = https://smaitic.awsapps.com/start
sso_region = us-east-1
sso_registration_scopes = sso:account:access

# display_name = Smaitic Venture Stage
[sso-session smaitik]
sso_start_url = https://identitycenter.amazonaws.com/ssoins-6595235dbe91aeb5
sso_region = ap-south-1
sso_registration_scopes = sso:account:access

[profile smaitic-lead]
sso_session = smaitic
sso_account_id = <YOUR_PROD_AWS_ACCOUNT_ID>
sso_role_name = LeadUserAccess
region = ap-south-1
output = json

[profile smaitic-power]
sso_session = smaitic
sso_account_id = <YOUR_PROD_AWS_ACCOUNT_ID>
sso_role_name = PowerUserAccess
region = ap-south-1
output = json

[profile smaitic-read]
sso_session = smaitic
sso_account_id = <YOUR_PROD_AWS_ACCOUNT_ID>
sso_role_name = ReadOnlyAccess
region = ap-south-1
output = json

[profile svpl-power]
sso_session = smaitik
sso_account_id = <YOUR_STAGE_AWS_ACCOUNT_ID>
sso_role_name = PowerUserAccess
region = us-east-2
output = json
